@using TwitchOverlap.Extensions
@using ChannelSummary = TwitchOverlap.Models.ChannelSummary
@model ChannelIndex

@{
    ViewData["Title"] = "Twitch Overlap";
}

@section metatags
{
    <meta property="og:title" content="Twitch Overlap">
    <meta property="og:description" content="The site shows stats about the overlap of chatters from different channels on Twitch. You can find out who your favorite streamer shares viewers with, or how many people are currently chat hopping. The site is open source on GitHub."/>
}

<div class="container w-full md:max-w-5xl xl:max-w-7xl mx-auto tracking-tight mt-16 mb-20">
    <div class="px-2 md:px-4 pt-4">
        <environment include="Development">
            <h1 class="font-medium tracking-tighter text-5xl text-center mb-4">Twitch Community Overlap (DEV)</h1>
        </environment>
        <environment exclude="Development">
            <h1 class="font-medium tracking-tighter text-5xl text-center mb-4">Twitch Community Overlap</h1>
        </environment>
        <p class="mb-2">The site shows stats about the overlap of chatters from different channels. You can find who's community overlaps the most with your favorite streamer. You can also check which channels chat hoppers are going to. Currently tracks all channels over 1000 concurrent viewers. Data updates every 30 minutes.</p>
        <div class="flex mb-2">
            <div class="mb-1 pr-1">Last Updated:</div>
            <div class="font-medium">
                @{
                    TimeSpan ts = DateTime.UtcNow - Model.LastUpdate;
                    if (ts.TotalMinutes <= 60)
                    {
                        <div title="@Model.LastUpdate.ToString("u")">@(ts.Minutes == 1 ? $"{ts.Minutes} minute" : $"{ts.Minutes} minutes") ago</div>
                    }
                    else if (ts.TotalHours <= 24)
                    {
                        <div title="@Model.LastUpdate.ToString("u")">@(ts.Hours == 1 ? $"{ts.Hours} hour" : $"{ts.Hours} hours") ago</div>
                    }
                    else if (ts.TotalDays <= 7)
                    {
                        <div title="@Model.LastUpdate.ToString("u")">@(ts.Days == 1 ? $"{ts.Days} day" : $"{ts.Days} days") ago</div>
                    }
                    else
                    {
                        <div class="card-text">@Model.LastUpdate.ToString("u")</div>
                    }
                }
            </div>
        </div>
    </div>
    
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-2 sm:gap-4 mx-2 sm:mx-4">
        @foreach (ChannelSummary summary in Model.Channels)
        {
            <div class="channel-card">
                <a href="/@summary.Id">
                    <div class="flex justify-start items-center">
                        <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/@summary.Avatar" class="rounded-full" alt="@summary.Id" onerror="if (this.src !== 'https://i.imgur.com/V2dxUn8.png') this.src = 'https://i.imgur.com/V2dxUn8.png'" width="50">
                        <div class="flex flex-col pl-2 overflow-hidden">
                            <div class="truncate">@summary.DisplayName</div>
                            <div class="truncate text-sm">chatters: @summary.Chatters.KiloFormat()</div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>

</div>